################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/VCSendModifyRequest.Model/bin/Release
/VCSendModifyRequest.Model/obj/Release
/.vs/VCSendModifyRequest/v14
/VCSendModifyRequest/obj/Release/build.force
